<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes) 
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
            p Please insert your new password
            form.caja-login(method="POST")
                .campo
                    label(for="email") new password:
                    input(type="password" name="password" placeholder="Your new password" value=email) 
                .campo.enviar
                    input.boton(type="submit" value="Update your password"  )
                .campo

                    a(href="/iniciar-sesion") I remember my password! get back to login
                
             
        
