<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Please insert your email
            form.caja-login(method="POST" action="/restablecer")
                .campo
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Your Email" value=email) 
                .campo.enviar
                    input.boton(type="submit" value="Change your password"  )
                .campo

                    a(href="/iniciar-sesion") I remember my password! get back to login
                
             
        
