<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Change password
        p Hello, this is your verification link
        p Click in the next link
        a(href=`${urlConfirmar}` method="POST") Verificate my account
        p If the button doesn't
        a(href=`${urlConfirmar}`) Check out here!
        