<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Change password
        p Hello, you have request us - Password Change
        p Click in the next link
        a(href=`${resetUrl}`) Reset my password
        p This link is temporal, if it doesn't work please make another request
        p If you haven't request this, please ignore it
        